<div class="container">
<h1 class="title">Your response to</h1>
<h2 class="title"><%= survey.name %></h2><hr>
<div class="row">
    <div class="col">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th class="col-2">Your answer</th>
            <th>Survey Question</th>
          </tr>
        </thead>
        <tbody id="surveyList">

            <% for(let count = 0; count < survey.questions[count]; count++) { %>
                <tr>
                  <td><textarea class="form-control" name="answers" id=""></textarea></td>
                  <td><p><%= survey.questions[count] %></p></td>
                </tr>
                <% } %>

        </tbody>
      </table>

      <a onclick="publishSurvey()" class="btn btn-dark btn-publish"
        ><i class="fa-solid fa-share-from-square"></i><span>Publish Response<span></a>

      
    </div>
  </div>
</div>