<div class="container">
<h1 class="title">Your response to</h1>
<h2 class="title"><%= survey.name %></h2><hr>
<div class="row">
    <div class="col">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th class="col-2">Your answer</th>
            <th>Survey Question</th>
          </tr>
        </thead>
        <tbody id="questionList">

            <% for(let count = 0; count < survey.questions.length; count++) { %>
                <tr>
                  <td><textarea class="form-control" name="answers" id=""></textarea></td>
                  <td><p><%= survey.questions[count] %></p></td>
                </tr>
                <% } %>

        </tbody>
      </table>

      <a onclick="publishResponse()" class="btn btn-dark btn-publish">Publish Response</a>

      
    </div>
  </div>
</div>

<script>
  const questionList = document.getElementById("questionList");
  function publishResponse() {
    const publishBtn = document.querySelector(".btn-publish");
    publishBtn.innerHTML = "Publishing...";

    const fields = document.querySelectorAll("#questionList .form-control");
    const data = {};

    fields.forEach((field) => {
      if (field.name === "answers") {
        if (!data[field.name]) {
          data[field.name] = [];
        }
        data[field.name].push(field.value);
        return;
      }
      data[field.name] = field.value;
    });
    console.log(data);

    fetch("/responses-add", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(data),
    })
      .then((res) => {
        console.log("Request complete! response:", res);
        location.href="/survey-list"
      })
      .catch((err) => {
        console.log("Request failed", err);
        alert('Error publishing survey ' + err.toString)
      })
      .finally(() => {
        publishBtn.innerHTML = "Publish Survey";
      });
  }
</script>