<div class="container">
  <h1 class="lead text-center title">
    <span class="highlight">Team Titan</span>, your all-in-one survey CRUD.
</h1>
<p class="text-center thin-width">With our all-in-one survey site you can create your own surverys, share existing surveys, and even interact with pre-existing surveys.</p>

<img src="/content/images/placeholder.jpg" class="img-fluid center rounded" alt="placeholder" height="30%" width="50%">

<input class="btn-link center" type="button" onclick="location.href='/login'" value="Sign up & start surveying">

</div>
