<div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6 col-sm-12">
            <div class="login" id="contentArea">
                <h1 class="highlight title">Account Registration</h1>
  
              <!-- Error Message Area -->
              <% if(messages.length > 0) { %>
                <div id="messageArea" class="alert alert-danger text-center">
                  <%= messages %>
                </div>
                <% } %>
  
                <form method="POST" id="registerForm" novalidate><br>
                  <p class="hint-text text-center">Give yourself complete access to top-teir survey templates accessible at any time for all your practical needs.</p>
  
                  <div class="form-group p-4">
                        <input class="form-control" type="text" name="firstName" id="firstName" placeholder="First Name" required>
                        <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Last Name" required>
                        <input type="email" class="form-control" id="emailAddress" name="emailAddress" required
                        value="" placeholder="Email">
                  </div>
                  <div class="form-group p-4">
                        <input type="text" class="form-control" id="username" name="username"  required
                        value="" placeholder="Username">
                        <input type="password" class="form-control" id="password" name="password"  required
                        value="" placeholder="Password">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"  required
                        value="" placeholder="Confirm Password">
                  </div>
                                                      
                  <div class="text-center">
                    <button id="submitButton" type="submit" class="btn btn-dark btn-md">
                      <i class="fas fa-user-plus"></i> Register</button>
                  </div>
                </form>
              
            </div>
            <p class="text-center text-muted small">
              Already have an account? 
              <a class="link" href="/login">Sign in</a>
            </p>
      </div>
    </div>
  </div>