<div class="container">
  <h1 class="title highlight">Multiple choice survey creator</h1><hr>
  <p class="text-center">Fields labelled with a * are required in order to post your survey. After filling out the required information you can add as many questions as you with before publishing and posting your survey.</p>
  <p class="text-center">Keep in mind, all responding answers will be in <span class="highlight">multiple choice format</span>, in the respective order of <span class="highlight">Strongly Agree, Agree, Neutral, Disagree, Strongly Disagree</span>.</p>

  <!-- Add question -->
  <a href="" class="btn btn-dark" role="button">
    <i class="fas fa-plus-circle "></i> Add question row</a>

  <div class="row">
    <div class="col">

        <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                  <th class="col-2"></th>
                  <th></th>
                </tr>
            </thead>
            <tbody id="surveyList">
              <tr>
                <td>Survey Name*</td>
                <td><input type="text" id="surveyName" class="form-control"></td>
              </tr>
              <tr>
                <td>Survey Description*</td>
                <td ><input type="text" id="surveyDescription" class="form-control"></td>
              </tr>
              <tr>
                <td>Survey Expiration Date*</td>
                <td><input type="date" class="form-control" id="expiration" name="expiration"></td>
              </tr>

              <!-- Question Rows, add question functionality required -->

              <tr>
                <td>Question [i]</td>
                <td><input name="" id="" class="form-control"></td>
              </tr>
              <tr>
                <td>Question [i]</td>
                <td><input name="" id="" class="form-control"></td>
              </tr>
              <tr>
                <td>Question [i]</td>
                <td><input name="" id="" class="form-control"></td>
              </tr>

            </tbody>
        </table>

        <a class="btn btn-dark"><i class="fa-solid fa-share-from-square"></i> Publish Survey</a>

      </div> 
  </div>
</div>
